In [118]:
import pandas as pd

In [119]:
df = pd.read_json('./babynames_crawler/babynames_crawled.jl', lines=True)
df.sample(10)

         name                              meaning gender ethnicity
2112     Ieta                    Jug with the neck   girl    muslim
7        Anam    Present, Precious Gift from Allah   girl    muslim
1110  Peyvand                A Joint, A Connection   girl    muslim
1456  Guberga                         Flower petal   girl    muslim
7610  Masouda              Happy, lucky, fortunate   girl    muslim
3037  Khashia       Pious, devout, fem. of Khashi.   girl    muslim
8552     Ma'h                                 Moon   girl    muslim
3579    Nadya        In russian meaning is : Hope.   girl    muslim
4019   Maisah  Walking with a proud, swinging gait   girl    muslim
3159   Zahina                    A Very Sharp Mind   girl    muslim

In [120]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10192 entries, 0 to 10191
Data columns (total 4 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   name       10192 non-null  object
 1   meaning    10192 non-null  object
 2   gender     10192 non-null  object
 3   ethnicity  10192 non-null  object
dtypes: object(4)
memory usage: 318.6+ KB

In [121]:
df.describe()

                 name    meaning gender ethnicity
count           10192      10192  10192     10192
unique          10087       6415      1         1
top     Zafar-un-Nisa  Beautiful   girl    muslim
freq                2        121  10192     10192

In [122]:
print(sorted(list(set(''.join(df.name)))))

[' ', "'", '-', '.', 'A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J', 'K', 'L', 'M', 'N', 'O', 'P', 'Q', 'R', 'S', 'T', 'U', 'V', 'W', 'X', 'Y', 'Z', 'a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j', 'k', 'l', 'm', 'n', 'o', 'p', 'q', 'r', 's', 't', 'u', 'v', 'w', 'x', 'y', 'z', 'ü', 'š']

In [123]:
def preprocess(df):
    df = df.copy()
    
    def replace_fn(match):
        char = match.group(0)
        if char in ['.', "'", '-']:
            return ''
        elif char == 'š':
            return 's'
        return 'u'
    
    df = df[~df.name.str.contains(r"\w*\s+\w*")]
    df['name'] = df.name.str.lower()
    df['name'] = df.name.str.replace(r"['.\-šü]", replace_fn, regex=True)
    df['name'] = df.name.str.replace(r"(\w)\1", lambda match: match.group()[0], regex=True)
    df = df.drop_duplicates('name')

    return df

df = preprocess(df)
print(sorted(list(set(''.join(df.name)))))

['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j', 'k', 'l', 'm', 'n', 'o', 'p', 'q', 'r', 's', 't', 'u', 'v', 'w', 'x', 'y', 'z']

In [124]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 8675 entries, 0 to 10191
Data columns (total 4 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   name       8675 non-null   object
 1   meaning    8675 non-null   object
 2   gender     8675 non-null   object
 3   ethnicity  8675 non-null   object
dtypes: object(4)
memory usage: 338.9+ KB

In [125]:
df.describe()

          name    meaning gender ethnicity
count     8675       8675   8675      8675
unique    8675       5670      1         1
top     ayesha  Beautiful   girl    muslim
freq         1         92   8675      8675

In [126]:
df.sample(20)

,name,meaning,gender,ethnicity
10092,seqah,Cloud,girl,muslim
764,hur,"Fair, Black-haired Women",girl,muslim
2116,warsan,"True news, wonderful news",girl,muslim
739,horiya,In Muslim meaning is : Angel,girl,muslim
724,cantara,Small Bridge.,girl,muslim
481,qudsia,"Pure, pure angel",girl,muslim
6237,zohrah,Flower,girl,muslim
8246,teqdes,Pure,girl,muslim
5253,khaldah,Always,girl,muslim
3561,badeah,"Astonishing, amazing, marvel, wonder",girl,muslim
9802,subja,Pious,girl,muslim
9939,azbeh,Flag,girl,muslim
1987,qadrin,Powerful,girl,muslim
5161,silah,"Arms, Armour, Weapons",girl,muslim
2697,gaye,Precious ornament which reflects yellow or gol...,girl,muslim
1250,firdaus,"Enclosure, Garden",girl,muslim
7194,shuruq,"Rising, shining",girl,muslim
4693,lamazah,Talk With Signs,girl,muslim
183,iram,"A Garden In Heaven, Paradise, Landmark In The ...",girl,muslim
5857,bushira,Good News,girl,muslim

In [127]:
df.sort_values('name', inplace=True)
df.to_json('babynames.jl', orient='records', lines=True)